.code {
  position: relative;
  padding:15px 25px;
  max-width: 80%;
  background-color:rgba(white,0.5);
    border:3px solid color('primary');
    outline:none;
    text-align: center;
    border-radius: 100px;
  input {
    height: 100%;
    border:none;
    width: 100%;
    font-size: 30px;
    background-color: transparent;
    font-weight: bold;
    color: color('primary');
    font-family:'Montserrat', sans-serif;
    outline: none;
    text-align: center;
    letter-spacing: 30px;
  }
  .send {
    position: absolute;
    background-color: rgba(white,0.9);
    border-radius: 100px;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    content:''
  }
}