button {
    opacity: 0;
    background-color:white;
    border:none;
    padding: 20px 30px;
    border-radius: 100px;
    font-family: 'Montserrat';
    font-weight: bold;
    color:color('primary');
    letter-spacing:1px;
    transition: box-shadow 1s;
    cursor:pointer;
    &:hover {
        box-shadow: 1px 1px 40px rgba(black,0.2);
    }
}