.access {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    @include landing;
    width: 100%;
    color:white;
    h3 {
        margin:0;
        font-size: 100px;
        letter-spacing: 50px;
        margin-left: 50px;
    }
    span {
        background-color: white;
        color:color('primary');
        padding: 15px 30px;
        border-radius: 100px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        font-size: 12px;
        transform: translate(-50%,0);
    }
}