.landing {
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100%;
	transition: 0.55s opacity ease-out;
    /*&::after {
        position: absolute;
        top: -100px;
        right: -200px;
        background: url('@style/assets/shape.svg');
        content:'';
        width: 571px;
        height: 550px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &::before {
        position: absolute;
        bottom: -100px;
        left: -80px;
        background: url('@style/assets/shape-two.svg');
        content:'';
        width: 371px;
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
    }*/

    svg {
        margin-bottom: 35px;
    }

}

.play {
    opacity: 0;
    position: absolute;
    bottom: 20%;
    z-index: 100000;
    left: 42.5%;
}

.headphones {
    text-align: center;
    opacity: 1;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: center;
    bottom: 10%;
    left: 45%;
    z-index: 100000;
    left: 42.5%;
}