.controller{
    background: url('../images/shapes/hdri_jpeg.jpg');
    background-size: cover;
}
.controller, .joystickController {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

// .joystickController{
//     display: none;
//     opacity: 1;
// }

.musicalController {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}