.game {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.line {
    position: absolute;
    background-color: white;
    border: 5px solid red;
    height: 100px;
    width: 100px;
    transform-origin: top center;
    border-radius: 100%;
}