.game{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
} 
.lines{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tap{
    background-color: #aeaeea;
}
.noteContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    
}

.note {
    border-radius: 100px;
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    border:none;
    top: 45%;
    left: 47.5%;
 }

.noteBorder {
    
    border: 5px solid white;
    border-radius: 100%;
    display: flex;
    height: 130px;
    width: 130px;
    margin-top: -20px;
    margin-left: -24px;
    transition-duration: 0.2s;
    &:active {
        transform: scale(0.75)
    }
}
#anim_container {
	width: 100%;
	height: 100%;
	z-index: 2000;
	position: absolute;
}

.correct{
    background-color: #dcedc1;
}

.wrong{
    background-color: #ffc0cb;
}