.play {
    background-color: rgba(color('primary'),0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.lottie-float {
    transform:scale(.5,.5);
    
}
