@mixin link {
    text-decoration: none;
    font-weight: 400;
    position: relative;
    color: $primary;
    &::after  {
        position: absolute;
        content:'';
        bottom:-3px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: $primary;
        transition: width 0.3s ease-in;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }    
}