@import './Utils.scss';
@import './views/All.scss';
@import './components/All.scss';
html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
  height: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color:color('primary')
}
canvas {
	width: 100%;
	height: 100%;
	outline: none;
}
