@import './utils/All.scss';
@import './mixins/All.scss';
@import './views/All.scss';
@import './components/All.scss';
html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
  height: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color:color('primary');
  user-select: none;
    background: url('../images/shapes/hdri_jpeg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}
#app {
  height: 100%;
  height: 100%;
}
